<section>
  @if (isLoggedIn) {
    <p>Welcome, {{ username }}</p>
    <img
    (click)="greet()"
    alt="photo" src="https://github.com/Jemma-MS.png">

    <app-games
    (addFavouriteEvent)="getFavourite($event)"
    username=" {{ username }}"></app-games>

    @if ( favGame !== '' ){
      <p> Your favourite game is {{ favGame }}</p>
    }

    <hr>
    <button (click)="isLoggedIn = false"> Sign Out </button>
  } @else {
    <p>Log In</p>
    <button (click)="isLoggedIn = true"> Log In </button>
  }

  <!-- @if (isLoggedIn) {
    <p>Welcome, {{ username }}</p>
    <img
    (click)="greet()"
    alt="photo" src="https://github.com/Jemma-MS.png">
  } @else {
    <p>Log In</p>
    <button (click)="isLoggedIn = true"> Log In </button>
  }

  <app-games
  (addFavouriteEvent)="getFavourite($event)"
  username=" {{ username }}"></app-games>

  @if ( favGame !== '' ){
    <p> Your favourite game is {{ favGame }}</p>
  } -->



</section>


